*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#000;
  color:#00ff88;
  font-family:'Share Tech Mono', monospace;

  width:100%;
  height:100vh;

  overflow:hidden;

  padding:20px;
}

.terminal{
  width:100%;
  height:100%;
}

#line{
  margin-bottom:10px;
}

.line{
  margin-bottom:8px;
  word-wrap:break-word;
}

.green{
  color:#00ff88;
}

.input-line{
  display:flex;
  align-items:center;
  gap:8px;

  margin-top:10px;
}

#terminalInput{
  background:transparent;
  border:none;
  outline:none;

  color:#00ff88;

  font-family:'Share Tech Mono', monospace;
  font-size:1rem;

  width:100%;
}

 /* =========================
   CÓDIGO DE BARRAS
========================= */

.barcode-box{

    position:relative;

    width:90%;
    max-width:900px;

    margin:30px auto 50px auto;

    padding:20px 20px 10px;

    border-radius:18px;

    background:#050505;

    border:1px solid #00ff88;

    box-shadow:
    0 0 10px #00ff44,
    inset 0 0 15px rgba(0,255,100,0.08);

    overflow:hidden;
}

/* BARRAS */
#barcode{

    width:100%;
    height:170px;

    display:flex;

    align-items:flex-end;

    justify-content:center;

    gap:3px;
}

/* LINHAS */
.bar{

    background:#00ff88;

    box-shadow:
    0 0 4px #00ff88,
    0 0 8px #00ff88;

    border-radius:1px;

    animation:pulseBar 2s infinite ease-in-out;
}

/* TEXTO */
.barcode-text{

    margin-top:12px;

    text-align:center;

    color:#00ff88;

    font-size:4rem;

    letter-spacing:6px;

    text-shadow:
    0 0 5px #00ff88,
    0 0 10px #00ff88;
}

/* ANIMAÇÃO */
@keyframes pulseBar{

    0%{
        opacity:0.7;
    }

    50%{
        opacity:1;
    }

    100%{
        opacity:0.7;
    }
}

/* MOBILE */
@media(max-width:700px){

    #barcode{
        height:110px;
        gap:2px;
    }

    .barcode-text{

        font-size:2rem;

        letter-spacing:3px;
    }
}
@keyframes scannerMove{

  100%{
    left:130%;
  }
}

/* BODY */
body{
  padding-top:45px;
}
